@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf"),
    url("/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf"),
    url("/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf"),
    url("/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf");
}

@font-face {
  font-family: "Iceland";
  src: url("/fonts/Iceland/Iceland-Regular.ttf");
}
