.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 100vh;
	background-color: var(--main-color);
}

.mainContent {
	flex: 1;
}

.wrapperSections {
	display: flex;
	/* 40px + 32px */
	gap: 72px;
}

.constructorSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 96px 0 40px 0;
	gap: 40px;
}
