.wrapperSections {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 72px;
}

.constructorSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 96px 0 40px 0;
	gap: 40px;
}
