.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.image {
	aspect-ratio: 3/2;
	object-fit: cover;
}

.itemContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.itemContentHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.countOfSelectedIngredient {
	position: absolute;
	top: 0;
	right: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(76, 76, 255, 1);
	width: 32px;
	height: 32px;
}
